on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'debug'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
jobs:
  log-the-inputs:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/kbengs/pdfarranger-qpdf-pikepdf-dev-docker-ci:1.0.0
    steps:
      - run: |
          echo "Log level: $LEVEL"
          echo "Tags: $TAGS"
          echo "Environment: $ENVIRONMENT"
        env:
          LEVEL: ${{ inputs.logLevel }}
          TAGS: ${{ inputs.tags }}
          ENVIRONMENT: ${{ inputs.environment }}
  test-qpdf-pikepdf-from-main:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/kbengs/pdfarranger-qpdf-pikepdf-dev-docker-ci:1.0.0
    steps:
      - name: Build libqpdf
        run: |
          git clone https://github.com/qpdf/qpdf.git
          cd qpdf
          echo QPDF_SOURCE_TREE=$PWD >> $GITHUB_ENV
          cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_SHARED_LIBS=ON
          cmake --build build --parallel --target libqpdf
          echo QPDF_BUILD_LIBDIR=$PWD/build/libqpdf >> $GITHUB_ENV
      - name: Set up venv
        run: |
          python3 -m venv --system-site-packages virtenv
          echo "$GITHUB_WORKSPACE/virtenv/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=$GITHUB_WORKSPACE/virtenv" >> $GITHUB_ENV
      - name: Build pikepdf
        run: |
          git clone https://github.com/pikepdf/pikepdf.git
          cd pikepdf
          env QPDF_SOURCE_TREE=$QPDF_SOURCE_TREE QPDF_BUILD_LIBDIR=$QPDF_BUILD_LIBDIR \
          pip install -e .
      - name: clone pdfarranger
        run: |
          git clone https://github.com/pdfarranger/pdfarranger.git
      - name: Dogtail Tests
        run: |
          cd pdfarranger
          python3 -X tracemalloc -u -m unittest -v -f tests.test
      - name: Exporter Tests
        run: |
          cd pdfarranger
          python3 -X tracemalloc -u -m unittest -v -f tests.test_exporter
      - name: Core Tests
        run: |
          cd pdfarranger
          python3 -X tracemalloc -u -m unittest -v -f tests.test_core
